@import "./Settings.scss";

.collapse{
    width: 100%;
    margin: 0 auto 30px;
    
    .collapse-btn{
        width: 100%;
        height: clamp(30px, 6vw, 47px);
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 18px;
        font-size: clamp(12px, 4vw, 16px);
        border-radius: 5px;
        color: $primary-color;
        background: $secondary-color;
    }
    
    .collapse-content{
        width: 100%;
        height: auto;
        padding: 5% 18px 18px;
        font-size: clamp(12px, 3vw, 18px);
        line-height: 3vh;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: $secondary-color;
        background: $tertiary-color;
    }
}
