@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "./Settings.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 4vw;
    font-family: $font-family;
    background: $primary-color;
}